name: Sanka Vollerei Auto Update
on:
  schedule:
  #  - cron: '0 */1 * * *' # 1 jam
  - cron: '*/15 * * * *' # 15 menit
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Check Website Status
        run: |
          export TZ='Asia/Jakarta'
          TIMESTAMP=$(date '+%Y-%m-%d %H:%M:%S')
          STATUS=$(curl -A "Plana-AI" -o /dev/null -s -w "%{http_code}" https://www.sankavollerei.com)
          
          if [ "$STATUS" == "200" ]; then
            MSG="ONLINE (200 OK)"
          else
            MSG="DOWN/ERROR ($STATUS)"
          fi
          echo "[$TIMESTAMP] SankaVollerei Status: $MSG" > .github/Api_sanka_auto_update.txt
        
      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'Plana AI: Website Status Check [skip ci]'
          file_pattern: '.github/Api_sanka_auto_update.txt'
          commit_user_name: 'Plana AI'
          commit_user_email: 'plana@sankanime.com'
